<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" style="border-bottom:black 1px solid;background-color:silver;"> 
				<span id="connection">
				     <i class="fa fa-wifi" aria-hidden="true"></i>
			    </span>
			    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			    <span id="parametres">
			        <i class="fa fa-cog" aria-hidden="true"></i>
			    </span>

			</div>
		</div>

		<div class="row">
			<div class="col-xs-5 col-md-5 col-lg-5 col-xl-5" >
				<div id="pub">
					<img id="pub_img" class="img-responsive" src="" />	
				</div> 
			</div>

			<div class="col-xs-7 col-md-7 col-lg-7 col-xl-7" >
				  <div id="ticket">
					  <div id="logo">
						 <img id ="logo_img" class="img-responsive"  src=""></div>	
					 <ul id="liste">	
					 	<li></li>
					 </ul>
				<div id="ticket_footer">
						<!--span>Total HT:</span><span id="tht">0.00</span-->  
						<!--span>TVA:</span><span id="tva">0.00</span-->  
						<span>TOTAL:</span><span id="ttc">0.00</span> 
				</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 pub_kerawen" style="display:inline-block;border-top:black 1px solid;background-color:silver" >
				<span id="kerawen">Powered by kerawen.com &copy</span> <span><img  id="kerawen_logo" src="https://screen.kerawen.com:3030/images/kerawen.png" /></span>
			</div>
		</div>
	</div>

</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.core.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/async/2.4.0/async.min.js"></script>
	<script src="//cdn.jsdelivr.net/velocity/1.5/velocity.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<script>
	
	$("document").ready(function() {
 
		 var socket = io({secure: true, rejectUnauthorized: false, transport: ['websocket'] , query: "url_longue=<%= url_longue %>&transport=websocket" } );

		 socket.on('disconnect', function() {
			 $("#connection").html('<i class="fa fa-wrench" aria-hidden="true"></i>')
		     $("#connection").css("color","red");
	     }); 
		      
		 socket.on('reconnect', function() {
		       location.reload(); 
		 });

		var socketName = "<%= url_longue %>" ;
		
		socket.emit("enregistrer",{ sockName:socketName, largeur:$("#pub").width(), hauteur:$("#pub").height() }, function(data){
		    $("#pub_img").attr("src",data.url_pub);  
		    $("#logo_img").attr("src",data.url_logo);  
		});
		
		socket.on("refreshpub",function(data) { 
			$("#pub_img").attr("src","");
			setTimeout( function() { $("#pub_img").attr("src",data.urlref+"?"+(new Date().getTime())) ; }, 1500 ) ;
        })

        socket.on("refreshlogo",function(data) { 
			$("#logo_img").attr("src","");
			setTimeout( function() { $("#logo_img").attr("src",data.urlref+"?"+(new Date().getTime())) ; }, 1500 ) ;
        })

// Affiche ticket 

		socket.on("affiche_ticket",function(ticket) {
					var jtik = $.parseJSON(ticket);
					// console.log("Ticket",jtik);
					// $("#client_prenom").html(jtik.cust.firstname+" ");
					// $("#client_nom").html(jtik.cust.lastname);
		async.series([
		// affiche les produits
		function(callback)  {
					$("ul#liste").html("");
					var thumbnail;
					_.map(jtik.products,function(art) {
						 // if (art.img) { thumbnail = "http:"+art.img ;	} else { thumbnail = "https://screen.kerawen.com:3030/images/blanc.png";}
						 	thumbnail = "https://screen.kerawen.com:3030/images/blanc.png";
							var discount = '';
                            if(art.discount) { discount =  '<del class="discount">'+(art.price_init).toFixed(2)+jtik.suffix+'</del>'; }         
							$("ul#liste").append('<li><span class="art_img"><img id='+art.prod+' src='+thumbnail+' ></span><span class="art_name">'+art.name+'</span><span class="art_qty">x'+art.qty+'</span><span class="art_devise">'+jtik.prefix+'</span><span class="art_price">'+discount+' '+(art.price).toFixed(2)+'</span><span class="art_devise">'+jtik.suffix+'</span>');

					});
					callback(null,'produit');
		},
		// affiche les reductions
		function(callback) {
					_.map(jtik.reducs,function(reduc) {
						$("ul#liste").append('<li><span class="art_img"><i class="fa fa-percent fa-2" aria-hidden="true"></i></span><span class="art_name">'+reduc.name+'</span><span class="art_qty"> </span><span class="art_devise">'+jtik.prefix+'</span><span class="art_price">-'+(reduc.reduc).toFixed(2)+'</span><span class="art_devise">'+jtik.suffix+'</span>');
					});
					callback(null,'reduction');
				},
		// affiche les avoirs 
		function(callback) {
					_.map(jtik.returns,function(retour) {
						var prix = parseInt(retour.price);
						$("ul#liste").append('<li><span class="art_img"><i class="fa fa-chevron-circle-left fa-2" aria-hidden="true"></i></span><span class="art_name">Retour '+retour.name+'</span><span class="art_qty">'+retour.qty+'</span><span class="art_devise">'+jtik.prefix+'</span><span class="art_price">'+prix.toFixed(2)+'</span><span class="art_devise">'+jtik.suffix+'</span>');
					});

		// affiche les transports
			               // console.log('delivery:', jtik.delivery.carriers[jtik.delivery.carrier]);
			            if(jtik.delivery.carrier) {
			                var transpo =  jtik.delivery.carriers[jtik.delivery.carrier] ;
							$("ul#liste").append('<li><span class="art_img"><i class="fa fa-truck fa-2" aria-hidden="true"></i></span><span class="art_name">Transporteur '+transpo.name+'</span><span class="art_qty"></span><span class="art_devise">'+jtik.prefix+'</span><span class="art_price">'+(transpo.price).toFixed(2)+'</span><span class="art_devise">'+jtik.suffix+'</span>');
			            }
	        

				    callback(null,$("#liste")[0].scrollHeight);	

					}], function(err,results){

					    $("#liste li").last().velocity("scroll",  { container: $("#liste"),duration:80,delay:0   }) ;
					    $("#liste li").last().addClass('bigflash').removeClass('bigflash',3000);
					   // $("#liste li").first().velocity("scroll", { container: $("#liste"),duration:3000,delay:3000,offset:-200 }) ;
					   // $("#liste li").last().velocity("scroll", { container: $("#liste"),duration:3000,delay:4000 }) ;

						 // totaux
						$("#tht").html( (jtik.total_cart_vat_excl).toFixed(2) + jtik.suffix);
						$("#tva").html( (jtik.total_vat).toFixed(2) + jtik.suffix);
						$("#ttc").html( (jtik.total_cart + jtik.total_ret).toFixed(2) + jtik.suffix);
						
				    });
		}) // on afficheTicket

		 
		 

		// console.log("HEUTEUR FENÊTRE:", $(window).height() );
		// console.log("LARGEUR FENÊTRE:", $(window).width() );

		$("#connection").click(function(){window.close()});
		$("#parametres").click(function(){ alert("Largeur publicité:"+$("#pub").width() +": hauteur:"+ $("#pub").height() )} )
		

  })
</script>
</html>
